# Node.js dependencies
node_modules/
dist/

# TypeScript compiled output (dist folder)


# Environment variables (keep them secret!)
.env

# Uploads directory (if you're saving files here)
uploads/

# Logs
*.log
